<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전남대학교 실내지도</title>
    <link rel="stylesheet" href="/stylesheets/main.css"> <!-- 외부 CSS 파일 연결 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	02c48f889f43b8b8851b201e4c44c861&libraries=services"></script>
</head>
<body>
    <div class="background"></div>
    <div class="top-left-text">Semicolon; Team 융정호</div>
    <div class="container">
        <div class="title">전남대학교 실내지도</div>
        <div class="search-container">
            <input type="text" id="keyword" class="search-box" placeholder="원하는 위치를 입력하세요">
            <button onclick="searchPlaces()" class="search-button">검색</button>
        </div>
    <a href="/map" class="show-map-button">전체 지도보기</a>
    </div>
<script type="text/javascript" src="/javascripts/index.js"></script> 
</body>
</html>
